<div class = "container">

<h1>Your Results</h1>


<ul>
  {{#each Survey}}
  	<li>{{this.electricEmission}}</li>

    <li>{{this.naturalGasEmission}}</li>

    <li>{{this.fuelOilEmission}}</li>
      
    <li>{{this.propaneEmission}}</li>

    <li>{{this.car1Emission}}</li>

    <li>{{this.car2Emission}}</li>

    <li>{{this.car3Emission}}</li>

    <li>{{this.publicTransportationEmission}}</li>

    <li>{{this.airEmission}}</li>

	<li>{{this.meatEmission}}</li>

	<li>{{this.breadEmission}}</li>

	<li>{{this.dairyEmission}}</li>

	<li>{{this.fruitEmission}}</li>

	<li>{{this.otherEmission}}</li>

	<li>{{this.clothingEmission}}</li>

	<li>{{this.furnitureEmission}}</li>

	<li>{{this.goodsEmission}}</li>

	<li>{{this.servicesEmission}}</li>

	<li>{{this.carbonFootprint}}</li>

	<li>{{this.carbonFootprint}}</li>

  {{/each}}

</ul>

</div>























