<div class = "container">

<h1>Your Results</h1>



  {{#each Survey}}
 <h3>Utilities</h3>
 <ul>  
  	<li>Your electric emissions are: {{this.electricEmission}}</li>

    <li>Your natural gas emissions are: {{this.naturalGasEmission}}</li>

    <li>Your fuel oil emissions are: {{this.fuelOilEmission}}</li>
      
    <li>Your propane Emissions are: {{this.propaneEmission}}</li>
 </u1>

 <h3>Transportation</h3>
 <u1>
    <li>Your first car's emissions are: {{this.car1Emission}}</li>

    <li>Your second car's emissions are (if applicable): {{this.car2Emission}}</li>

    <li>Your third car's emissions are (if applicable): {{this.car3Emission}}</li>

    <li>Your public transportation emissions are: {{this.publicTransportationEmission}}</li>

    <li>Your air travel emissions are: {{this.airEmission}}</li>
 </u1>

 <h3>Diet</h3>
 <u1>
	<li>Your emissions from meat consumption are: {{this.meatEmission}}</li>

	<li>Your emissions from bread consumption are: {{this.breadEmission}}</li>

	<li>Your emissions from dairy consumption are: {{this.dairyEmission}}</li>

	<li>Your emissions from fruit and vegetable consumption are: {{this.fruitEmission}}</li>

	<li>Your other foods emissions are: {{this.otherEmission}}</li>
 </u1>

 <h3>Lifestyle</h3>
 <u1>
	<li>Your clothing production emissions are: {{this.clothingEmission}}</li>

	<li>Your furniture emissions are: {{this.furnitureEmission}}</li>

	<li>Your general goods emissions are: {{this.goodsEmission}}</li>

	<li>Your general services emissions are: {{this.servicesEmission}}</li>
 </u1>

 <h2>Your carbon footprint, anually, is: {{this.carbonFootprint}}</h2>	

  {{/each}}



</div>